*{
    margin: 0;
    outline: none;
    box-sizing: border-box;
}

body{
    font-family: 'inter' , 'sans-serif';

}

.wrapper{
    position: relative ;
    height: 100vh;
}
header{
    width: 70%;
    border: 1px solid rgb(211, 191, 191);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header ul.nav{
   list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

header ul li a{
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 20px;
    padding: 15px 20px;
    border-radius: 20px;
    transition: all ease .3s ;
}

header ul li{
    margin: 0 .4rem;
}

header ul li a:hover{
    color: #ffff;
    background-color:#25509E ;

} 
.btn{
    color: #fff;
    background-color:#25509E ;
    padding: 15px 40px;
}

.btn:hover{
    color: #25509E;
    background-color:#c1d7ff ;
}

.submenu{
    max-width: 200px;
    position: absolute;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -2px 2px 3px #333;
    padding-left: 0;
    margin-top: 15px ;
    opacity: 0;
    transition: all ease .5s ;
    z-index: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
    
    
}

ul li:hover .submenu{
    opacity: 1;
    margin: 20px 0;
}

.submenu li{
    margin: 0;
}
.submenu li a{
    display: block;
    width: 100%;
    font-size: 15px;
    text-align: center;
    border-radius: 0;
}

.submenu li:first-child a{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.submenu li:last-child a{
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
/* submenue ends */

/*sliders starts */

#Home{
    height: 650px;
    background-color: #EBEBEB;

}
.slide-wrapper{
    width: 70%;
    height: 70vh;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 0 auto;
    position: relative;

}

.slider{
    margin-right: 10px ;
    height: 100%;
    width: 10%;
    border-radius: 60PX;
    cursor: pointer ;
    position: relative;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

}

.pic-1{
    background-image: url('../landing-page/images/plant1.jpg');
}

.pic-2{
    background-image: url('../landing-page/images/plant2.jpg');
}
.pic-3{
    background-image: url('../landing-page/images/plant3.jpg');
}
.pic-4{
    background-image: url('../landing-page/images/plant4.jpg');
}
.pic-5{
    background-image: url('../landing-page/images/plant5.jpg');
}